	<div id="p%POST_ID%" class="post %POST_CLASS%">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="postbody">
			<h3 class="%POST_SUBCLASS%"><a href="https://sorcerykid.github.io/minetest-forums/%PAGE_PATH%#p%POST_ID%">%POST_TITLE%</a></h3>
			<p class="author"><img src="./styles/prosilver/imageset/icon_post_target.gif" width="11" height="9" alt="Post" title="Post" />by <strong>%AUTHOR_NAME%</strong> &raquo; %POST_DATE% </p>

			<div class="content">%POST_CONTENT%</div>
		</div>

			<dl class="postprofile">
			<dt>
				<strong>%AUTHOR_NAME%</strong>
			</dt>
			<dd>%AUTHOR_RANK%</dd>

		<dd>&nbsp;</dd>

		<dd><strong>Posts:</strong> %AUTHOR_POST_TOTAL%</dd><dd><strong>Joined:</strong> %AUTHOR_JOIN_DATE%</dd>
			<HAS_GITHUB_HANDLE><dd><strong>GitHub:</strong> %AUTHOR_GITHUB_HANDLE%</dd></HAS_GITHUB_HANDLE>
			<HAS_PLAYER_HANDLE><dd><strong>In-game:</strong> %AUTHOR_PLAYER_HANDLE%</dd></HAS_PLAYER_HANDLE>
		</dl>
	
		<div class="back2top"><a href="#wrap" class="top" title="Top">Top</a></div>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<hr class="divider" />
