	<hr class="divider" />

	<hr />

<div class="topic-actions">
		<div class="pagination">
			%POST_TOTAL% posts
			 &bull; Page <strong>%PAGE_COUNT%</strong> of <strong>%PAGE_TOTAL%</strong>
		</div>
</div>

	<p></p><p><a href="./viewforum.php?f=%FORUM_ID%" class="left-box left" accesskey="r">Return to %FORUM_TITLE%</a></p>

	<br /><br />

	<h3>Who is online</h3>
	<p>Users browsing this forum: <span style="color: #9E8DA7;" class="username-coloured">%ROBOT_NAME% [Bot]</span> and 0 guests</p>
</div>

<div id="page-footer">

	<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>

		<ul class="linklist">
			<li class="icon-home"><a href="./index.php">Board index</a></li>
				
			<li class="rightside">All times are UTC </li>
		</ul>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="copyright">Powered by <a href="https://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group
		
	</div>
</div>

</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	
</div>

</body>
</html></div>
