<!--
  Mintest Forum Recovery Project (by sorcerykid)

  https://sorcerykid.github.io/minetest-forums/%PAGE_PATH%

  The following page was cached by %ROBOT_NAME% (%ROBOT_URL%) on %CACHE_DATE%.
  All archived content is subject to copyright. No warranty or guaranty is implied.
-->
<base href="https://forum.minetest.net/" />
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb">
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-language" content="en-gb" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="keywords" content="" />
<meta name="description" content="" />

<title>Minetest Forums &bull; View topic - %TOPIC_TITLE%</title>

<link rel="alternate" type="application/atom+xml" title="Feed - Minetest Forums" href="https://forum.minetest.net/feed.php" /><link rel="alternate" type="application/atom+xml" title="Feed - New Topics" href="https://forum.minetest.net/feed.php?mode=topics" /><link rel="alternate" type="application/atom+xml" title="Feed - Forum - Mods" href="https://forum.minetest.net/feed.php?f=46" /><link rel="alternate" type="application/atom+xml" title="Feed - Topic - %TOPIC_TITLE%" href="https://forum.minetest.net/feed.php?f=%FORUM_ID%&amp;t=%TOPIC_ID%" />

<!--
	phpBB style name: prosilver
	Based on style:   prosilver (this is the default phpBB3 style)
	Original author:  Tom Beddard ( http://www.subBlue.com/ )
	Modified by:
-->

<link href="./styles/prosilver/theme/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" />
<link href="./style.php?id=5&amp;lang=en" rel="stylesheet" type="text/css" media="screen, projection" />

<link href="./styles/prosilver/theme/normal.css" rel="stylesheet" type="text/css" title="A" />
<link href="./styles/prosilver/theme/medium.css" rel="alternate stylesheet" type="text/css" title="A+" />
<link href="./styles/prosilver/theme/large.css" rel="alternate stylesheet" type="text/css" title="A++" />

</head>

<body id="phpbb" class="section-viewtopic ltr">

<div id="wrap">
	<a id="top" name="top" accesskey="t"></a>
	<div id="page-header">
		<div class="headerbar">
			<div class="inner"><span class="corners-top"><span></span></span>

			<div id="site-description">
				<a href="./index.php" title="Board index" id="logo"><img src="./styles/prosilver/imageset/site_logo.gif" width="149" height="52" alt="" title="" /></a>
				<h1>Minetest Forums</h1>
				<p>The official Minetest discussion board</p>
				<p class="skiplink"><a href="#start_here">Skip to content</a></p>
			</div>

			<span class="corners-bottom"><span></span></span></div>
		</div>

		<div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>

			<ul class="linklist navlinks">
				<li class="icon-home"><a href="./index.php" accesskey="h">Board index</a> <strong>&#8249;</strong> <a href="./viewforum.php?f=%FORUM_ID%">%FORUM_TITLE%</a></li>
			</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	</div>

	<a name="start_here"></a>
	<div id="page-body">
		
<h2><a href="./viewtopic.php?f=46&amp;t=%TOPIC_ID%">%TOPIC_TITLE%</a></h2>
<!-- NOTE: remove the style="display: none" when you want to have the forum description on the topic body -->

<div class="topic-actions">
		<div class="pagination">
			%POST_TOTAL% posts
			 &bull; Page <strong>%PAGE_COUNT%</strong> of <strong>%PAGE_TOTAL%</strong>
		</div>
</div>
<div class="clear"></div>
